{% include "head.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<body>

    {% include "header.html" %}

    {% if not logged_in %}
    <p id="intro"> Welcome to FreshRecipes. Enjoy a random selection of recipes! Use search to look for specific options or <a href="/login">login</a> to create your own recipes! </p>
    {% endif %}

    <div id="results">
        
        {% if results %}
        {% for recipe in results %}

        <div class="recipe">
            <h3> {{ recipe.name }} </h3>

            {% if recipe.photo %}
            <img id="img" src="{{ recipe.photo }}" alt="Recipe image">
            {% else %}
            <img id="img" src="{{ url_for('static', filename='default.jpg') }}" alt="No image">
            {% endif %}

            <p class="idNum"> #{{ recipe.id }} </p>
            <p> Type: {{ recipe.type }} </p>
            <p> Creator: {{ recipe.user_email }} </p>
            {% if recipe.avg %}
            <p> Rating: {{ recipe.avg }} </p>
            {% else %}
            <p> No ratings </p>
            {% endif %}
            <a href="/recipe/{{ recipe.id }}">
                <button type="button" class="button">View</button>
            </a>
        </div>
        
        {% endfor %}
        {% else %}
        <p id="none"> No recipes yet </p>
        {% endif %}
    </div>
</body>
